body {
    background-color: #121318;
}

.reef {
    display: block;
    width: 350px;  
}

.autoReef {
    display: block;
    height: 200px;
    width: 200px;    
}

.source {
    display: block;
    width: 150px;  
    height: 450px;
}

.logo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 80px;
    width: 80px;
}

.container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.reefcontainer {
    top: -10px;
    left: 800px;
    transform: rotate(-90deg);
}

.autocontainer {
    transform: rotate(-90deg);
    width: 200px;
    height: 200px;
    top: 80px;
    left: -370px;
}

.sourcecontainer {
    top: -90px;
    left: -80px;
    transform: rotate(-90deg);
}

.container img {
    display: block;
}

.button {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid #9c27b0;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.7);
}

/* Blue hex: #0048a7 */
/* Red hex: #a20010 */
/* OG orange hex: #ff5722 */
.selected {
    border: 4px solid #a20010;
    filter: brightness(0.5);
}

.container.dropdown {
    position: absolute; /* Allows the container to move freely */
    top: 50%; /* Position from the top of the viewport */
    left: 15%; /* Position from the left of the viewport */
    transform: translate(-50%, -50%); /* Centers the container */
    width: 300px;
    padding: 10px;
    background-color: #9b27b06f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#autoselector {
    width: 100%; /* Make the select box full width */
    padding: 10px; /* Padding inside the select box */
    font-size: 16px; /* Adjust the font size */
    border: 1px solid #bfbcbc; /* Light border */
    border-radius: 5px; /* Rounded corners for the select */
    background-color: #bfbcbc; /* White background for the dropdown */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

/* Button positions */
.positionA { top: 35%; left: -60px; transform: translateY(-50%); }
.positionB { top: 65%; left: -60px; transform: translateY(-50%); }
.positionC { bottom: -15px; left: 5%; transform: translateX(-50%); }
.positionD { bottom: -60px; left: 30%; transform: translateX(-50%); }
.positionE { bottom: -60px; right: 30%; transform: translateX(50%); }
.positionF { bottom: -15px; right: 5%; transform: translateX(50%); }
.positionG { top: 65%; right: -60px; transform: translateY(-50%); }
.positionH { top: 35%; right: -60px; transform: translateY(-50%); }
.positionI { top: -15px; right: 5%; transform: translateX(50%); }
.positionJ { top: -60px; right: 30%; transform: translateX(50%); }
.positionK { top: -60px; left: 30%; transform: translateX(-50%); }
.positionL { top: -15px; left: 5%; transform: translateX(-50%); }
.positionSA { top: 70px; left: 50%; transform: translateX(-50%); }
.positionSB { top: 310px; left: 50%; transform: translateX(-50%); }

.autoPositionA { top: 35%; left: -60px; transform: translateY(-50%); width: 30px; height: 30px;}
.autoPositionB { top: 65%; left: -60px; transform: translateY(-50%); width: 30px; height: 30px;}
.autoPositionC { bottom: -15px; left: 5%; transform: translateX(-50%); width: 30px; height: 30px;}
.autoPositionD { bottom: -60px; left: 30%; transform: translateX(-50%); width: 30px; height: 30px;}
.autoPositionE { bottom: -60px; right: 30%; transform: translateX(50%); width: 30px; height: 30px;}
.autoPositionF { bottom: -15px; right: 5%; transform: translateX(50%); width: 30px; height: 30px; }
.autoPositionG { top: 65%; right: -60px; transform: translateY(-50%); width: 30px; height: 30px;}
.autoPositionH { top: 35%; right: -60px; transform: translateY(-50%); width: 30px; height: 30px;}
.autoPositionI { top: -15px; right: 5%; transform: translateX(50%); width: 30px; height: 30px;}
.autoPositionJ { top: -60px; right: 30%; transform: translateX(50%); width: 30px; height: 30px;}
.autoPositionK { top: -60px; left: 30%; transform: translateX(-50%); width: 30px; height: 30px;}
.autoPositionL { top: -15px; left: 5%; transform: translateX(-50%); width: 30px; height: 30px;}
.autoPositionSA { top: 70px; left: 50%; transform: translateX(-50%); width: 30px; height: 30px;}
.autoPositionSB { top: 310px; left: 50%; transform: translateX(-50%); width: 30px; height: 30px;}
.updateselectionbutton{top: 100%; left: -100px; position: absolute; transform: rotate(90deg);}